



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
       <h1> EMPLOYER HOME</h1>
            <h1>   {{request.user}}</h1>
      <form action="" method="post">
        {%csrf_token%}
        <input type="password" name="pwd1" placeholder="New password">
           <input type="password" name="pwd2" placeholder="confirm password">

        <input type="submit" value="verify">
      </form>

    </div>
    <div class="col-4"></div>
  </div>
</div>


</body>
</html>




